{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/input_profile.css' %}">
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
  <script src="{% static 'js/template.js' %}"></script>
  <title>プロフィール登録</title>
</head>
<body>
<h1>プロフィール登録</h1>
<form method="post" class="line-height-2">
    {% csrf_token %}
      {% for i in form %}
        {% if i.label == '学籍番号' or i.label == 'ニックネーム' or i.label == 'サークル' %}
          <div>
            {{ i.label_tag }}{{ i }}
          </div>
        {% else %}
          <div>
            {{ i.label_tag }}
            {% for choice in i %}
              {{ choice.tag }}{{ choice.choice_label }}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    <button type="submit" class="bigbutten btn--circle">とうろく！</button>
</form>
<a href=".." class="button-design">ホームに戻る</a>
</body>
</html>