body {
    text-align: center;
    background-color:  #FAD3E7;
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
h1, h3{
    color:#0081B4;
    font-family: "Nico Moji";
}

.search-wrapper, .subsc-wrapper{
    color:#0081B4;
}

.button-sentence1 ,.button-sentence2 {
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}